@include nb-install-component() {
  nb-actions nb-action {
    border-left-color: rgba(255, 255, 255, 0.2) !important;
    ::ng-deep i {
      color: red;
    }
    ::ng-deep .nb-badge.right {
      right: 3px;
    }
    ::ng-deep .nb-badge.top {
      top: 2px;
    }
    // ::ng-deep {
    //   .nb-badge-danger {
    //     background-color: nb-theme(color-danger);
    //   }
    //   .nb-badge-primary {
    //     background-color: nb-theme(color-primary);
    //   }
    //   .nb-badge-info {
    //     background-color: nb-theme(color-info);
    //   }
    //   .nb-badge-success {
    //     background-color: nb-theme(color-success);
    //   }
    //   .nb-badge-warning {
    //     background-color: nb-theme(color-warning);
    //   }
    // }
  }
}
