@import 'src/app/utils/styles/variables.scss';

.data-container {
  height: 4.5rem;
}

.icon {
  font-size: 2.7rem;
  @media (max-width: 650px) {
    font-size: 2.2rem;
  }
  color: #28a745;
}

.value-profit-danger {
  color: red;
}

.value-profit-success {
  color: #28a745;
}

.label {
  font-size: 13px;
  font-weight: 400;
}

.value {
  font-size: 1.6rem;
  margin-top: 0.3rem;
  font-family: $NunitoSans;

  @media (max-width: 650px) {
    font-size: 1.3rem;
  }
}
.value-contianer {
  margin-top: 0.3rem;
  font-family: $NunitoSans;
}

.percentage-value {
  font-size: 1.3rem;
  @media (max-width: 650px) {
    font-size: 1rem;
  }
}

.data-total {
  text-align: right;
  margin-left: 1.6rem;
  @media (max-width: 650px) {
    margin-left: 0.5rem;
  }
}

.data-usd {
  text-align: right;
}
