<div class="data-container d-flex justify-content-between align-items-center" *ngIf="data">
  <div class="icon"><i class="fas fa-hand-holding-usd"></i></div>
  <div class="d-flex">
    <div class="data-usd">
      <div class="label">USD</div>
      <div class="value">
        {{ usd$ | async | number: '1.0-2' }}
      </div>
    </div>
    <div class="data-total">
      <div class="label">Portfolio value</div>
      <div class="value-contianer">
        <span
          class="percentage-value"
          [ngClass]="{
            'value-profit-danger': profitPercentage < 0,
            'value-profit-success': profitPercentage >= 0
          }"
          >( <span *ngIf="profitPercentage >= 0">+</span>{{ profitPercentage | number: '1.0-0' }}%)
        </span>
        <span class="value"> {{ data.totalPortfolioValue | number: '1.0-2' }}</span>
      </div>
    </div>
  </div>
</div>
