<table class="table">
  <thead>
    <tr>
      <th scope="col">Cryptocurrency</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Value</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of data">
      <td>{{ coin.cryptocurrency | titlecase }}</td>
      <td>{{ coin.quantity }}</td>
      <td>{{ coin.price | currency }}</td>
      <td>{{ coin.value | number }}</td>
      <td>{{ coin.type | titlecase }}</td>
    </tr>
  </tbody>
</table>
<div class="redirect-to-full-list" (click)="redirectToFullTransactionList()">
  <coin-market-bootstrap-badge class="pointer" variation="info">
    <i class="fas fa-exchange-alt mr-2"></i>Click to see full transaction list.
  </coin-market-bootstrap-badge>
</div>
