<coin-market-card>
  <coin-market-card-body>
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-center">
            <img alt="coin-icon" width="70" src="{{ data?.image }}" />
            <span class="name ml-3">{{ data.name }} </span> <span class="symbol">({{ data.symbol | uppercase }})</span>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <div>
              <span class="current-price-label"> Price: </span>
              <span class="current-price-value"> {{ data.current_price | currency }}</span>
            </div>
            <div>
              <span class="market-cap-label"> Capitalization: </span>
              <span class="market-cap-value"> {{ data.market_cap | currency }}</span>
              &nbsp;
              <span class="market-cap-rank"> ({{ data.market_cap_rank }})</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="description p-3">
            <div class="description-label mb-3">What is {{ data.name }} ?</div>
            <div class="description-text">
              <div #description></div>
            </div>
          </div>
        </div>
        <div class="section-box col-lg-3 col-sm-6">
          <div
            class="historical-percentage-changes d-flex flex-column justify-content-lg-end justify-content-sm-start align-items-sm-start align-items-lg-end p-3"
          >
            <span class="description-label mb-3"> Historical change</span>
            <div class="historical-percentage-changes-box">
              <span class="change-label d-flex align-items-end justify-content-end">24-Hour Change</span>
              <span
                [coinMarketPercentageChangeTheme]="data.price_change_percentage_24h"
                class="change-value d-flex align-items-end justify-content-end"
              >
                {{ data.price_change_percentage_24h | number: '1.0-0' }} %
              </span>
            </div>
            <div class="historical-percentage-changes-box">
              <span class="d-flex align-items-end justify-content-end change-label">7-Day Change</span>
              <span
                [coinMarketPercentageChangeTheme]="data.price_change_percentage_7d"
                class="change-value d-flex align-items-end justify-content-end"
              >
                {{ data.price_change_percentage_7d | number: '1.0-0' }} %
              </span>
            </div>
            <div class="historical-percentage-changes-box">
              <span class="change-label d-flex align-items-end justify-content-end">30-Day Change</span>
              <span
                [coinMarketPercentageChangeTheme]="data.price_change_percentage_30d"
                class="change-value d-flex align-items-end justify-content-end"
              >
                {{ data.price_change_percentage_30d | number: '1.0-0' }} %
              </span>
            </div>
          </div>
        </div>
        <div class="section-box col-lg-3 col-sm-6">
          <div
            class="d-flex flex-column justify-content-lg-end justify-content-sm-start align-items-sm-start align-items-lg-end p-3"
          >
            <span class="description-label mb-3"> Socials</span>
            <div class="social">
              <div class="social-link header-box">
                <i class="social-link-icon fas fa-globe"></i> <a target="_blank" [href]="data.links.homepage"> Homepage </a>
              </div>
              <div class="social-link header-box">
                <i class="social-link-icon fab fa-github"></i> <a target="_blank" [href]="data.links.github"> Github</a>
              </div>
              <div class="social-link header-box">
                <i class="social-link-icon far fa-comment-dots"></i>
                <a target="_blank" [href]="data.links.official_forum_url">Official forum</a>
              </div>
              <div class="social-link header-box">
                <i class="social-link-icon fas fa-project-diagram"></i>
                <a target="_blank" [href]="data.links.blockchain_site">Blockchain</a>
              </div>
              <div class="social-link header-box">
                <i class="social-link-icon fab fa-reddit-alien"></i>
                <a target="_blank" [href]="data.links.subreddit_url">Reddit</a>
              </div>
            </div>
          </div>
        </div>
        <coin-market-button styleElement="secondary" class="ml-4" (clickEvent)="buy()" [text]="buttonText"> </coin-market-button>
      </div>
    </div>
  </coin-market-card-body>
</coin-market-card>
