<!-- <apx-chart
  [series]="options.series"
  [chart]="options.chart"
  [xaxis]="options.xaxis"
  [yaxis]="options.yaxis"
  [dataLabels]="options.dataLabels"
  [grid]="options.grid"
  [stroke]="options.stroke"
  [title]="options.title"
  [labels]="options.labels"
  [markers]="options.markers"
  [legend]="options.legend"
  [tooltip]="options.tooltip"
  [plotOptions]="options.plotOptions"
  
></apx-chart> -->
<apx-chart [series]="options.series" [legend]="options.legend" [chart]="options.chart" [labels]="options.labels"></apx-chart>
