<p>market works!</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">market_cap_rank</th>
      <th scope="col">current_price</th>
      <th scope="col">name</th>
      <th scope="col">symbol</th>
      <th scope="col">price_change_percentage_24h</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of cryptocurrencies$ | async">
      <th scope="row">{{ coin.market_cap_rank }}</th>
      <td>{{ coin.current_price }}</td>
      <td>{{ coin.name }}</td>
      <td>{{ coin.symbol }}</td>
      <td>{{ coin.price_change_percentage_24h }}</td>
      <td><a (click)="buy(coin.id)">Buy</a><a (click)="sell(coin.id)">Sell</a></td>
    </tr>
  </tbody>
</table>
