<div class="row">
  <div class="col-12">
    <coin-market-cryptocurrency-details-current-data *ngIf="cryptocurrencyDetails" [data]="cryptocurrencyDetails">
    </coin-market-cryptocurrency-details-current-data>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <coin-market-cryptocurrency-details-chart *ngIf="!linearChartLoading" [data]="cryptocurrencyDetailsLinearChartData">
    </coin-market-cryptocurrency-details-chart>
  </div>
  <div class="col-4">
    <coin-market-cryptocurrency-details-news *ngFor="let item of news" [data]="item"></coin-market-cryptocurrency-details-news>
  </div>
</div>
