<div class="row">
  <div class="col-lg-12">
    <coin-market-cryptocurrency-details-current-data *ngIf="cryptocurrencyDetails" [data]="cryptocurrencyDetails">
    </coin-market-cryptocurrency-details-current-data>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <coin-market-cryptocurrency-details-chart
      *ngIf="(linearChartLoading$ | async) === false"
      [data]="cryptocurrencyDetailsLinearChartData"
    >
    </coin-market-cryptocurrency-details-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    //adsense
  </div>
  <div class="row">
    <div class="col-lg-12 news-container">
      <div class="news-header-container d-block w-100 mb-4 ml-5 mt-4" *ngIf="cryptocurrencyDetails">
        {{ cryptocurrencyDetails.name }} news
      </div>

      <coin-market-cryptocurrency-news *ngFor="let item of news" [data]="item"></coin-market-cryptocurrency-news>
    </div>
  </div>
</div>
