@import 'src/app/utils/styles/variables.scss';

@media (min-width: 992px) {
  .compact-menu {
    visibility: hidden;
  }
}
@media (max-width: 992px) {
  .expanded-menu {
    visibility: hidden;
  }
}

.header {
  background-color: $color-primary;
}
