@import 'src/app/utils/styles/variables.scss';

.asset-container {
  width: 100%;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 8rem;

  @media (max-width: 650px) {
    grid-template-columns: 1fr 5rem 5rem 5rem 5rem;
  }

  justify-items: center;
  align-items: center;
}

.action-badges {
  justify-self: stretch;
  display: flex;
  justify-content: space-around;
  @media (max-width: 650px) {
    flex-direction: column;
    width: 4.4rem;
  }
}

.grid-cell {
  justify-self: start;

  &-value {
    font-size: 1.2rem;

    @media (max-width: 650px) {
      font-size: 0.9rem;
    }
    font-family: $TitilliumWeb;
  }

  &-label {
    @media (max-width: 650px) {
      font-size: 0.9rem;
    }
  }

  .name {
    margin-left: 0.5rem;
  }
  .icon {
    @media (max-width: 650px) {
      width: 15px;
    }
  }
}
.redirect-link {
  cursor: pointer;
}
