<div class="asset-container">
  <div class="grid">
    <div class="grid-cell redirect-link" (click)="redirectToDetails()">
      <img class="icon" [src]="data.icon" alt="icon" />
      <span class="name"> {{ data.id | titlecase }}</span>
    </div>
    <div class="grid-cell">
      <span class="girid-cell-label">Quantity:</span> <span class="girid-cell-value"> {{ data.quantity }}</span>
    </div>
    <div class="grid-cell">
      <span class="girid-cell-label">Value:</span> <span class="girid-cell-value"> {{ data.value | number: '2.0-2' }}</span>
    </div>
    <div class="grid-cell">
      <span class="girid-cell-label">Profit:</span>
      <span class="girid-cell-value" [coinMarketPercentageChangeTheme]="assetProfitPercentage">
        {{ assetProfitPercentage | number: '1.0-0' }} %</span
      >
    </div>
    <div class="action-badges">
      <coin-market-bootstrap-badge [variation]="'success'" [emitEventOnClick]="true" (clickEvent)="buy()"
        >Buy
      </coin-market-bootstrap-badge>
      <coin-market-bootstrap-badge [variation]="'warning'" [emitEventOnClick]="true" (clickEvent)="sell()">
        Sell
      </coin-market-bootstrap-badge>
    </div>
  </div>
</div>
