<div class="header-container">
  <div class="header-title">
    <div class="header-menu-bars" (click)="menuExpand.emit()">
      <nb-icon class="icon" icon="menu-outline"></nb-icon>
    </div>
    <div class="header-title-icon"><i class="fab fa-bitcoin"></i></div>
    <div class="header-title-text">
      <div class="header-title-text-1">Cryptocurrency</div>
      <div class="header-title-text-2">market simulation</div>
    </div>
  </div>

  <coin-market-user-menu class="menu"></coin-market-user-menu>
</div>
