@import 'src/app/utils/styles/variables.scss';

.transaction-list-widget-container {
  margin-top: 2rem;
}

.portfolio-summary {
  height: 10rem;
}

.asset-item-card ::ng-deep {
  nb-card {
    margin-bottom: 0.9rem;
  }
}

.highlighted-item ::ng-deep {
  nb-card {
    background-color: rgb(255, 252, 245);
  }
}
.refresh-icon {
  color: rgb(168, 170, 170);
  float: right;
  position: relative;
  left: 0.7rem;
  bottom: 1.7rem;
  cursor: pointer;
}

.animation {
  animation-name: rotation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@media (max-width: 650px) {
  .asset-item-card ::ng-deep {
    nb-card {
      nb-card-body {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(340deg);
  }
  99.999% {
    transform: rotate(460deg);
  }
  to {
    transform: rotate(-40deg);
  }
}

.no-assets-label {
  font-family: $Roboto;
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.541);
}
.pointer {
  cursor: pointer;
}
