.transaction-list-widget-container {
  margin-top: 2rem;
}

.portfolio-summary {
  height: 10rem;
}

.asset-item-card ::ng-deep {
  nb-card {
    //background-color: #ff95002e;
    margin-bottom: 0.9rem;
  }
}

.highlighted-item ::ng-deep {
  nb-card {
    background-color: #fffcf5;
  }
}
