<div class="row">
  <div class="col-8">
    <coin-market-portfolio-summary [data]="portfolioSummary"></coin-market-portfolio-summary>
  </div>
  <div class="col-4">
    <coin-market-donut-chart *ngIf="donutChartData" [data]="donutChartData"></coin-market-donut-chart>
    <div class="transaction-list-widget-container">
      <coin-market-transactions-list-widget
        [loading]="transactionWidgetLoading"
        [error]="transactionWidgetError"
        [data]="transactions"
      ></coin-market-transactions-list-widget>
    </div>
  </div>
</div>
