<div class="row">
  <div class="col-lg-8 col-sm-12">
    <coin-market-card>
      <coin-market-card-body>
        <coin-market-portfolio-summary [data]="portfolioSummary"></coin-market-portfolio-summary>
      </coin-market-card-body>
    </coin-market-card>

    <coin-market-card
      ><coin-market-card-body>
        <coin-market-asset-item *ngFor="let asset of assetSummary" [data]="asset"></coin-market-asset-item></coin-market-card-body
    ></coin-market-card>
  </div>
  <div class="col-lg-4 col-sm-12">
    <coin-market-card>
      <coin-market-card-body>
        <coin-market-donut-chart *ngIf="donutChartData" [data]="donutChartData"></coin-market-donut-chart>
      </coin-market-card-body>
    </coin-market-card>
    <div class="transaction-list-widget-container">
      <coin-market-card>
        <coin-market-card-body>
          <coin-market-transactions-list-widget
            [loading]="transactionWidgetLoading"
            [error]="transactionWidgetError"
            [data]="transactions"
          >
          </coin-market-transactions-list-widget>
        </coin-market-card-body>
      </coin-market-card>
    </div>
  </div>
</div>
