<coin-market-page-loader [isLoading]="loading$ | async">
  <ng-template aumsDigitalPageContentTpl>
    <coin-market-card>
      <coin-market-card-body>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">totalPortfolioValue</th>
              <th scope="col">change</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rankItem of ranking$ | async">
              <th scope="row">{{ rankItem.name }}</th>
              <td>{{ rankItem.totalPortfolioValue | number: '1.0-1' }}</td>
              <td>{{ rankItem.change | number: '1.0-0' }} %</td>
            </tr>
          </tbody>
        </table>
      </coin-market-card-body>
    </coin-market-card>
  </ng-template>
</coin-market-page-loader>
