.btn {
  border-width: 1px !important;
  cursor: pointer !important;
}

.invalid-input {
  color: #e84f0f;
  padding: 0.2rem 0;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-transform: uppercase;
}

// html {
//   font-size: 14px;
// }

button {
  cursor: pointer;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

html {
  font-size: 15px;
  font-family: Helvetica;
}
