//
// COLORS
//

$color-primary: rgb(255, 149, 0);
$color-secondary: rgb(133, 133, 133);
$color-success: #3dcc6d;
$color-info: #d0d0d0;
$color-warning: #fdc300;
$color-danger: #e84f0f;
$button-state-background-color-primary: rgba(0, 163, 224, 0.1);
$button-state-background-color-secondary: rgba(133, 133, 133, 0.1);
$button-state-background-color-success: rgba(61, 204, 109, 0.1);
$button-state-background-color-danger: rgba(232, 79, 15, 0.1);
$button-state-background-color-warning: rgba(253, 195, 0, 0.1);

//
// FONTS
//

$TitilliumWeb: 'Titillium Web';
$NunitoSans: 'Nunito Sans';
$Roboto: 'Roboto';
