.form-section {
  height: 100%;

  //  padding: 1rem;
}

.information-section {
  // background-color: #ff9500;

  background-image: url('https://images.unsplash.com/photo-1552057426-9f23e61fa7b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');

  background-repeat: repeat;
  background-size: cover;
  height: 100%;

  //
}

.background {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.82);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-section-1 {
  color: white;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
.header-section-2 {
  margin-top: -1.3rem;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 2.8rem;
}

.statements-section {
  margin-top: 4rem;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
}
.label-text {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
  .label {
    color: white;
    width: 14.5rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #ff9500;
    text-align: center;
    border-radius: 2%;
  }

  .text {
    width: 14.5rem;
    background-color: #ffffff29;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    // padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    padding: 0.7rem;
  }
}

.supported-coin-section {
  color: white;
  width: 95%;
  background-color: #ffffff29;
  @media (max-width: 500px) {
  }

  height: 10rem;
  //margin: 2rem;

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-list-item {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
.create-account-info {
  margin-top: 3rem;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .create-account-info-label {
    margin-left: 1rem;
    width: 100%;
    font-size: 1.5rem;
  }
}
